
/* ================================
             DESKTOP VIEW
================================== */
@media (min-width: 641px) and (max-width: 1024px){
    .footer-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }

    .header {
        width: 95%;
        gap: .5rem;
        padding: .2rem;
    }
    .navlinks {
        gap: .5rem;
    }
    .navlinks li a {
        font-size: 1rem;
    }
    .navlinks li a.active {
        padding: .5rem  .1rem;
    }
    .footer-container {
        gap: 1rem;
    }
    .logo-container {
        position: absolute;
        bottom: 45px;
        left: 34%;
    }
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .footer-address h4,
    .footer-copyright h4 {
        font-size: 1rem;
    }
    .footer-address p,
    .footer-copyright p {
        font-size: .8rem;
        line-height: 1.3;
    }
    .footer-socials svg {
        width: 50px;
        height: 50px;
    }
}


/* MEDIUM: 2 columns (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .discover-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "c1"
      "c2"
      "c3"
      "c4"
      "c5"
      "c6"
      "c7"
      "c8";
  }
    .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img title"
      "img address"
      "img desc"
      "img actions";
    gap: .7rem 1rem;
    align-items: start;
  }

  .card-figure {
    grid-area: img;
    width: 300px;
  }

  .card-title {
    grid-area: title;
  }

  .card-address {
    grid-area: address;
  }

  .card-desc {
    grid-area: desc;
  }

  .card-actions {
    grid-area: actions;
  }

  .card-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    max-height: none;
    border-radius: 8px;
  }
}

/* LARGE: 4 columns (1025px and up) */
@media (min-width: 1025px) {
  .discover-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "c1 c2"
      "c3 c4"
      "c5 c6"
      "c7 c8";
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img title"
      "img address"
      "img desc"
      "img actions";
    gap: .7rem 1rem;
    align-items: start;
  }

  .card-figure {
    grid-area: img;
    width: 300px;
  }

  .card-title {
    grid-area: title;
  }

  .card-address {
    grid-area: address;
  }

  .card-desc {
    grid-area: desc;
  }

  .card-actions {
    grid-area: actions;
  }
  
  .card-figure img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    }
}

/* Hover image effect only on pointer-capable devices (not mobile) */
@media (hover: hover) and (pointer: fine) {
  .card-figure img {
    transition: transform 250ms ease, box-shadow 250ms ease;
  }
  .card-figure img:hover {
    transform: scale(1.06);
    box-shadow: 0 6px 20px rgba(2,6,23,0.12);
  }
}


/* media query for  450px up */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: rgb(225, 225, 225, 0.1);
    backdrop-filter: blur(12px);
    height: 80px;
    width: 80%;
    margin: 0 auto;
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    position: sticky;
    top: 20px;
    left: 0;
    z-index: 1000;
}


.logo {
    max-width: 150px;
    max-height: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hamburger {
    background: none;
    padding: 0.5rem;
    display: none;
    flex-direction: column;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.hamburger span {
    display: block;
    background-color: var(--whitesmoke);
    width: 25px;
    height: 2.5px;
    margin: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Animate to X when active */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 10px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(-2px, -7px);
}

/* ============================
        NAVBAR STYLING
============================= */
.navbar {
    padding: 1rem 0;
}

.navlinks {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Base style */
.navlinks li a {
    font-weight: 700;
    color: var(--whitesmoke);
    padding: 0.5rem 1rem;
    position: relative;
    background: none;
    font-size: 1.2rem;
    border: none;
    border-radius: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Active state */
.navlinks li a.active {
    color: #F9FAFB;
    border-top: 2px solid var(--primary-colorblend2);
    border-bottom: 2px solid var(--primary-colorblend2);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background: rgba(59, 130, 246, 0.1);
}

/* Hover state */
.navlinks li a:hover {
    transform: scale(1.05);
}

/* Hover underline */
.navlinks li a:hover::after {
    width: 100%;
}

/* Underline effect */
.navlinks li a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #E6F9E8;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

/* NAVLINKS COLOR ON-SCROLL */
.header.scrolled .navlinks li a {
    color: #ffffff; 
}

/* Optional: Active link color when scrolled */
.header.scrolled .navlinks li a {
    color:  var(--accent1-color); 
}

.navlinks {
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
    background: var(--primary-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    gap: 1.2rem;
    display: none;
    border-top: 1px solid #ffffff30;
    z-index: 1000;
}

.navlinks.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* FULL ACTIVE STYLE FOR MOBILE */
.navlinks li a.active {
    color: #F9FAFB;
    border-top: 2px solid var(--primary-colorblend2);
    border-bottom: 2px solid var(--primary-colorblend2);
    background: rgba(59, 130, 246, 0.15);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: block;
}

/* Mobile nav links */
.navlinks li a {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    width: 100%;
}

.na-svg svg {
    height: 30px;
    width: 30px;
}

/* Disable underline animation on mobile */
.navlinks li a::after {
    display: none;
}

/* ================================
   MAIN STYLING HOME PAGE
================================ */


/* Hero section */
.hero-container {
    position: relative;
    height: 100vh;
    margin: 2rem 0;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   background: 
        linear-gradient(transparent, rgba(0,0,0,0.4)),
        rgba(244, 246, 241, 0.25);

}

.hero-content {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
    color: white;
    padding: 2rem;
    text-align: center;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--accent1-color);
    margin-bottom: 1rem;
    text-shadow: 0 0 4px rgba(31, 31, 31, 0.8);

}

.hero-content p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-shadow: 0 0 4px rgba(31, 31, 31, 0.8);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.cta-button {
    display: block;
    width: 50%;
    background: transparent;
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border: 2px solid var(--accent1-color);
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0 0.5rem;
}

.cta-button:hover {
    background-color: var(--primary-color);
    border: none;
}

/* Featured Events/News styles */

.event-scroller h2 {
    color: var(--whitesmoke);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid #3498db;
}

.events-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

/* Scroller */
.event-scroller {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

/* Track Animation */
.event-track {
    display: flex;
    gap: 1rem;
    animation: bounce-scroll 5s linear infinite alternate;
}


/* PAUSE on Hover */
.event-track:hover {
    animation-play-state: paused;
}

/* Slide Animation */
@keyframes bounce-scroll {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-3%);
    }
}

/* Basic card styling */
.event-card {
    background: linear-gradient(to bottom, #f9fcf5c7, #e9f5dbba);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--accent1-color);
    padding: .7rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.event-card .date {
    font-size: 0.9rem;
    color: #111;
    margin-bottom: 10px;
    font-weight: 500;
}

.event-card h3 {
    font-size: 1.2rem;
    color: #0E2B5F; /* primary color */
    margin-bottom: 10px;
}

.event-card p {
    font-size: 0.95rem;
    color: #111;
    margin-bottom: 15px;
    line-height: 1.4;
}

.event-card .read-more {
    font-size: 0.9rem;
    color: #FFD700; /* gold accent */
    text-decoration: none;
    font-weight: 600;
    align-self: flex-start;
}

.event-card .read-more:hover {
    text-decoration: underline;
}

/* ================================
  SPOTLIGHT STYLING (MAIN PAGE)
================================ */
.spotlight-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1rem 0 0;
    background: rgba(0,0,0,0.08);
    margin: 1rem 0;
    width: 100%;
}

.spotlight {
    width: 100%;
    padding: 1rem 2rem;
}

.spotlight h2,
.weather h4 {
    text-align: center;
    font-size: 2rem;
    color: var(--whitesmoke);
    margin-bottom: 3rem;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.spotlight-track {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.spotlight-card {
    color: var(--whitesmoke);
    max-width: 300px;
    background: rgba(193, 193, 193, 0.25);
    border: 2px solid var(--accent1-color);
    padding: 15px;
    box-shadow: 0 4px 17px rgba(0,0,0,0.08);
    text-align: center;
}

.spotlight-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.spotlight-card a {
    color: var(--accent1-color);
}

/* WEATHER CARD — FULL STYLING */
.weather {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.weather-card {
    height: 390px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.07);
}

/* Town name */
.weather-card h2 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: var(--footerbg-text);
}

/* Current temperature */
#current-temp {
    margin-top: 6px;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--footerbg-text);
}

/* Weather icon */
.weather-card figure {
    margin: 14px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
#figcaption {
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--bodybg-color);
}

/* Forecast Section */
.forecast {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.forecast-day {
    flex: 1;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.04);
}

/* Forecast date */
.forecast-day div:first-child {
    font-size: 0.9rem;
    color: var(--bodybg-color);
    margin-bottom: 4px;
}

/* Forecast temperature */
.forecast-day div:last-child {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--bodybg-color);
}

---------------------------------------------------------------- */
/* MEMBER TABLE */
.members-table {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    display: table;
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(167, 167, 167, 0.25);
    border-collapse: separate;
    text-align: start;
    overflow: hidden;
    border-spacing: 0;
    border-radius: var(--border-radius-sm);
}

.members-table thead {
    display: table-header-group;
    font-size: 1.5rem;
    font-weight: 600;
}
.members-table thead th {
    background: linear-gradient(90deg, #0B38BF, #6089BF);
    color: #fff;
    font-weight: 700;
    padding: 0.8rem 1rem;
    text-align: start;
}

.members-table tbody {
    display: table-row-group;
    font-size: 1rem;
    font-weight: 600;
}
.members-table tbody td {
    padding: .85rem 1rem;
    background: rgba(0, 0, 0, 0.25);
    color: var(--whitesmoke);
    border-bottom: 1px solid rgba(0,0,0,0.06);
    text-align: start;
}

/* zebra rows with subtle color */
.members-table tbody tr:nth-child(odd) td {
    background: #72767287;
}
/* hover highlight */
.members-table tbody tr:hover td {
    background: #50627e;
}

/* ensure links in table are styled */
.members-table a {
    color: var(--accent2-color);
    text-decoration: underline;
}

/* ======================================================= */
.join-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
}

/* ============================
   Form Styles
============================ */
.form-container {
    background: transparent;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(122, 152, 88, 0.5);
    width: 100%;
    max-width: 700px;
    border-bottom: 2px solid var(--accent1-text);
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 2rem;
    color: var(--accent2-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--bodybg-color);
}

input, select, textarea {
    background: transparent;
    margin-top: 4px;
    padding: 10px;
    color: var(--bodybg-color);
    border-radius: 6px;
    border: 1px solid var(--accent2-color);
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s;
}

input::placeholder {
    font-style: italic;
    color: var(--accent2-color);
}


input:focus, select:focus, textarea:focus {
    border-color: var(--accent1-color);
    box-shadow: 0 0 5px rgba(14, 43, 95, 0.3);
    outline: none;
}

input[type="submit"] {
    background: #0E2B5F;
    color: white;
    cursor: pointer;
    border: none;
    padding: 1rem 0;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 6px 20px rgba(122, 152, 88, 0.5);
}

input[type="submit"]:hover {
    color: #111;
    font-weight: 600;
    background: transparent;
    border: 2px solid var(--accent1-color);
}

/* ============================
   Membership Cards Styles
============================ */
.membership-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.membership-card {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 1.5rem;
    text-align: center;
    max-width: 500px;
    min-height: 33vh;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
}

.membership-card:nth-child(1) { animation-delay: 0.2s; }
.membership-card:nth-child(2) { animation-delay: 0.4s; }
.membership-card:nth-child(3) { animation-delay: 0.6s; }
.membership-card:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.membership-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #0E2B5F;
}

.membership-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.membership-card button {
    padding: 6px 12px;
    background: #0E2B5F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.membership-card button:hover {
    background: #0b1b3f;
}

/* ============================
   Dialog Styles
============================ */
dialog {
    border: none;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 400px;
    min-height: 40vh ;
    text-align: start;
    position: relative;
    margin: 0 auto;
}

dialog::backdrop {
    background: rgba(0,0,0,0.6);
}

dialog button.close-dialog {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    color: red;
    transition: color 0.3s;
}

dialog button.close-dialog:hover {
    color: var(--bodybg-color);
}

dialog h3 {
    background: var(--primary-colorblend1);
    border-radius: var(--border-radius-sm);
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem 0;
    color: var(--whitesmoke);
}

dialog ul {
    font-size: 1.2rem;
    line-height: 1.6;
    list-style: none;
}

.price-tag {
    margin-top: 2rem;
    color: var(--accent1-color);
    list-style: none;
    max-width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius-sm);
    background: var(--primary-colorblend1);
}





