@media (min-width: 1025px) {
    /* ================================
    HEADER AND NAVBAR STYLING
    ================================ */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: rgb(225, 225, 225, 0.1);
        backdrop-filter: blur(12px);
        height: 80px;
        width: 90%;
        margin: 0 auto;
        border-bottom-left-radius: var(--border-radius-sm);
        border-bottom-right-radius: var(--border-radius-sm);
        border-top-left-radius: var(--border-radius-sm);
        border-top-right-radius: var(--border-radius-sm);
        position: sticky;
        top: 20px;
        left: 0;
        z-index: 1000;
    }

    .logo {
        max-width: 230px;
        max-height: 230px;
    }
    .nav-svg {
        display: block;
    }

    .nav-svg svg {
        height: 35px;
        width: 35px;
        margin-right: 1rem;
    }

    .hamburger {
        display: none;
        
    }
    /* ============================
            NAVBAR STYLING
    ============================= */
    .navbar {
        padding: 1rem 0;
    }

    .navlinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
        top: 0;
        width: 100%;
        align-items: center;
        background: none;
        border-top: 0;
        position: relative;
    }

    /* Base style */
    .navlinks li a {
        text-decoration: none;
        font-weight: 700;
        color: var(--whitesmoke);
        position: relative;
        font-size: 1.5rem;
        border: none;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    /* Underline effect */
    .navlinks li a::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        width: 0;
        height: 2px;
        background: #E6F9E8;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    /* Active state */
    .navlinks li a.active {
        color: #F9FAFB;
        border-top: 1px solid var(--primary-colorblend2);
        border-bottom: 1px solid var(--primary-colorblend2);
        border-radius: var(--border-radius-sm);
        padding: 0.3rem .5rem;
        background: rgba(59, 130, 246, 0.05);
    }

    /* Hover state */
    .navlinks li a:hover {
        transform: scale(1.05);
    }
    /* Hover underline */
    .navlinks li a:hover::after {
        width: 100%;
    }
    /* NAVLINKS COLOR ON-SCROLL */
    .header.scrolled .navlinks li a {
        color:  var(--accent2-text); 
    }
    /* ================================
    MAIN STYLING HOME PAGE
            MOBILEVIEW 
    ================================ */
    .main {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /* HERO STYLING */
    .hero-container {
        position: relative;
        height: 70vh;
        margin-top: 2rem;
        background-image: url("https://images.unsplash.com/photo-1505409859467-3a796fd5798e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .hero-image img {
        display: none;
    }
    .hero-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: 
            linear-gradient(transparent, rgba(0,0,0,0.3)),
            rgba(244, 246, 241, 0.3);
    }
    .hero-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background: linear-gradient(transparent, rgba(0,0,0,0.7));
        color: white;
        padding: 2rem;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 3.5rem;
        font-weight: 600;
        color: var(--accent1-color);
        text-shadow: 0 0 4px rgba(31, 31, 31, 0.8);
    }
    .hero-content p {
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 0 0 4px rgba(31, 31, 31, 0.8);
        margin-bottom: 2rem;
    }
    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    .cta-button {
        display: block;
        width: 35%;
        padding: 1rem 2rem;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        text-decoration: none;
        border: 2px solid var(--accent1-color);
        border-radius: var(--border-radius-sm);
        font-weight: 700;
        font-size: 1rem;
        transition: background-color 0.3s;

    }

    .cta-button:hover {
        background: var(--accent1-color);
        color: var(--accent2-text);
    }
    /* Featured Events and News */
    section {
        padding: 0;
    }

    .event-wrapper {
        padding: 1rem;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .event-scroller {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        padding: 1rem;
    }

    .event-scroller h2 {
        font-size: 2rem;
        color: var(--whitesmoke);
        font-weight: 600;
        margin: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 2px solid #3498db;
    }

    .event-track {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
        padding: 0 1rem;
        animation: bounce-scroll 5s linear infinite alternate;
    }

    /* PAUSE on Hover */
    .event-track:hover {
        animation-play-state: paused;
    }

    /* Slide Animation */
    @keyframes bounce-scroll {
        0% {
            transform: translateX(5%);
        }
        100% {
            transform: translateX(-3%);
        }
    }

    .event-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 330px;
        height: 200px;
        background: linear-gradient(to bottom, #f9fcf5a3, #e9f5db92);
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--accent1-color);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .event-card .date {
        font-size: 1rem;
        color: #111;
        margin-top: 1rem;
        font-weight: 500;
        text-align: center;
    }

    .event-card h3 {
        font-size: 1rem;
        color: var(--primary-colorblend2);
        margin-bottom: 10px;
        height: 50px;
        background: var(--accent1-text);
        padding: .7rem;
        text-align: center;
    }

    .event-card p {
        font-size: 1rem;
        color: #111;
        margin-bottom: 1rem;
        line-height: 1.4;
        text-align: center;
    }

    /* ================================
    SPOTLIGHT STYLING (MAIN PAGE)
    ================================ */
    .spotlight-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
        background: rgba(0,0,0,0.1);
        margin: 2rem auto;
        width: 100%;
        height: auto;
        position: relative;
    }

    .spotlight {
        width: 100%;
        padding: .5rem 1rem;
    }

    .spotlight h2,
    .weather h2 {
        text-align: start !important;
        font-size: 2rem;
    }

    .spotlight-track {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
        position: relative;
    }
    .spotlight-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 1000px;
        min-height: 200px;
        border: none;
        border-radius: 0;
        clip-path: polygon(
            0 0,
            100% 0,
            95% 100%,
            0 100%
        );
    }
    .spotlight-card:nth-child(0) {
        position: absolute;
        left: 0;
        top: 0;
    }
    .spotlight-card:nth-child(1) {
        position: absolute;
        left: 15%;
        top: 105%;
    }
    .spotlight-card:nth-child(2) {
        position: absolute;
        left: 25%;
        top: 200%;
    }

    .card-img-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 0;
        object-fit: cover;
        margin-bottom: 0;
    }

    .card-body {
        padding: 1rem;
    }

    .card-body h3 {
        margin-bottom: .8rem;
        color: var(--accent1-color);
        font-size: 1.8rem;
    }

    .card-body p {
        margin: .8rem 0;
        font-size: 1.2rem;
    }

    .spotlight-card a {
        color: var(--accent1-color);
    }

    /* WEATHER SECTION */
    .weather {
        padding: 1rem;
        position: relative;
        margin-top: 50%;
    }

    .weather-card {
        width: 100%;
    }
    /* Town name */
    .weather-card h3 {
        margin-top: 3rem;
        font-size: 3rem;
    }

    /* Temperature */
    #current-temp {
        margin-top: 2.5rem;
        
    }
    #weather-icon {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
    }

    #figcaption {
        font-size: 2rem;
    }

    /* Forecast becomes stacked instead of row */
    .forecast {
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        width: 90%;
    }

    .forecast-day {
        flex: 1;
        background: rgba(255, 255, 255, 0.15);
        text-align: center;
        border-radius: 12px;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.04);
        padding: .8rem;
        margin-bottom: 1rem;
    }

    .forecast-day div:first-child {
        font-size: 1.5rem;
        color: var(--bodybg-color);
        margin-bottom: 4px;
    }

    .forecast-day div:last-child {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--bodybg-color);
    }
    /* ===================================
        DIRECTORY PAGE CSS STYLING
                MOBILEVIEW
    =================================== */
    .member-card img {
        aspect-ratio: 4/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 4px 5px rgba(220, 247, 99, 0.2)
    ;
    }
    /* --- GRID VIEW --- */
    .members-table {
        display: table; 
        width: 100%;
        height: auto;
        min-width: 0; 
        max-width: 1200px;
        border-radius: 0;
        overflow: hidden; 
        box-shadow: 0 2px 8px rgba(167, 167, 167, 0.25);
        border-collapse: separate;
    }

    .members-table thead {
        display: table-header-group;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .members-table thead th {
        text-align: left;
        background: linear-gradient(90deg, #0B38BF, #6089BF);
        color: #fff;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    .members-table tbody {
        display: table-row-group;
    }
    .members-table tbody tr {
        display: table-row;
        width: 100%;
        margin: 0; 
        padding: 0;
        box-shadow: none; 
        border-radius: 0;
    }
     .members-table tbody td {
        display: table-cell;          
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0,0,0,.06);
        padding: .85rem 1rem;
    }
    /* remove the mobile label */
    .members-table tbody td::before {
        display: none;
    }
    /* ----- custom widths ----- */
    .members-table .col-phone   { width: 50%; }
    .members-table .col-address { width: 55%; }
    /* optional: keep the rest flexible */
    .members-table colgroup { visibility: collapse; }
    /* Zebra rows */
    .members-table tbody tr:nth-child(odd) { background: #72767240; }
    .members-table tbody tr:nth-child(even) { background: #00000015; }
    .members-table tbody tr:hover { background: #50627e; color: #fff; }
    /* Links */
    .members-table a { font-weight: 600; }
    /* ================================
    JOIN SECTION PAGE STYLING 
            MOBILEVIEW
    ================================== */
    .join-container {
        gap: 4rem;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;

    }
    .form-container {
        max-width: 800px;
    }
    /* ================================
    DISCOVER PAGE LARGE STYLING 
    ================================== */
    .discover-container {
        max-width: 1600px;
    }
    .discover-grid {
        display: grid;
        gap: 1rem;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "c1 c5"
            "c2 c6"
            "c3 c7"
            "c4 c8";
    }
    .card {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "img title"
        "img address"
        "img desc"
        "img actions";
        gap: .7rem 1rem;
        align-items: start;
        width: 100%;
        max-width: 750px;
        min-height: 200px;
    }

    .card-figure {
        grid-area: img;
        max-width: 300px;
        aspect-ratio: 4 / 3;
    }

    .card-title {
        grid-area: title;
    }

    .card-address {
        grid-area: address;
    }

    .card-desc {
        grid-area: desc;
    }

    .card-actions {
        grid-area: actions;
    }

    .card-figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
        max-height: none;
    }
    .learn-btn:hover { filter: brightness(.95); }


    /* ================================
    FOOTER STYLING 
    ================================== */
    footer {
        padding: 2rem;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }
    /* LOGO */
    .logo-container {
        position: absolute;
        top: 0%;
        right: 1%;
        max-width: 350px;
    }
    /* CONTENT WRAPPER */
    .footer-content {
        display: grid;
        grid-template-columns: 500px 1fr 300px 1fr;
        gap: 2rem;
    }
    .footer-address {
        margin: 0;
        padding: 0;
    }
    /* HEADINGS */
    .footer-address h4,
    .footer-copyright h4 {
        color: var(--accent1-color);
        font-size: 1.3rem;
        font-weight: 700;
        margin: 2rem 0;
    }

    /* PARAGRAPHS */
    .footer-address p,
    .footer-copyright p {
        margin-right:8px;
        font-size: 0.95rem;
        line-height: 1.5;
        color: var(--accent2-color);
        margin-bottom: .7rem;
    }

    /* SOCIAL LINKS */
    .footer-socials {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .footer-socials svg {
        margin: 2rem 0;
        width: 60px;
        height: 60px;
        padding: 0.5rem;
        background-color: var(--accent1-color);
        border-radius: 10px;
        transition: transform 0.3s, background 0.3s;
    }

    .footer-socials svg:hover {
        transform: scale(1.08);
        background-color: var(--accent2-color);
        cursor: pointer;
    }
    .footer-copyright {
        margin: 0;
        padding: 0;
    }

    /* LAST MODIFIED */
    #lastmodified {
        color: var(--accent2-color);
        font-size: 0.85rem;
        margin-top: 1rem;
    }
}